{% extends "base.html" %}
{% block content %}

<h3 class="center-align amber-text text-darken-4">All Tasks</h3>

<ul class="collapsible">
    {% for task in tasks %}
    <li>
        <div class="collapsible-header white-text deep-orange darken-1 text-shadow">
            <div class="col s9">
                <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                {% if task.is_urgent == "on" %}
                <i class="fas fa-exclamation-circle amber-text text-darken-1 tooltipped" data-position="right"
                    data-tooltip="Urgent!"></i>
                {% endif %}
            </div>
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                <a href="" class="btn-floating deep-orange darken-4"><i class="fas fa-pencil-alt"></i></a>
                <a href="" class="btn-floating teal darken-4"><i class="fas fa-check"></i></a>
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ task.category_name }}</strong>
            <p>{{ task.task_desc }}</p>
            <p><em>by: {{ task.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}