{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
    {% for task in tasks %}
    <li>
        <div class="collapsible-header white-text deep-orange darken-1 text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
            {% if task.is_urgent == "off" %}
            <i class="fas fa-exclamation-circle amber-text text-darken-1 tooltipped" data-position="right"
                data-tooltip="Urgent!"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <strong>{{ task.category_name }}</strong>
            <p>{{ task.task_desc }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}